.home .welcome{
    background-color: #B5FFE1;
    background-image: -webkit-linear-gradient(40deg, #FFFFFF 45%, #B5FFE1 45%);
    min-height: 100vh;
}

@media (max-width: 991.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(25deg, #FFFFFF 45%, #B5FFE1 45%);
        min-height: 100vh;
    }
}

@media (max-width: 767.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(25deg, #FFFFFF 55%, #B5FFE1 55%);
        min-height: 100vh;
    }
}

@media (max-width: 575.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(60deg, #FFFFFF 15%, #B5FFE1 15%);
        min-height: 100vh;
    }
}

.home .welcome .message-primary{
    color: #073B4C;
    font-size: 4vw;
    text-align: center;
    display: block;
}

.home .welcome .message-secondary{
    color: #073B4C;
    font-size: 2.5vw;
    text-align: center;
    display: block;
}

@media (max-width: 575.98px){
    .home .welcome .message-primary{
        font-size: 8vw;
    }
    
    .home .welcome .message-secondary{
        font-size: 5vw;
    }
}

@media (max-width: 575.98px){
    .home .welcome-p1{
        margin-top: 10vh;
    }
}
