.home .welcome{
    background-color: #B5FFE1;
    background-image: -webkit-linear-gradient(40deg, #FFFFFF 45%, #B5FFE1 45%);
    min-height: 100vh;
}

@media (max-width: 991.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(25deg, #FFFFFF 45%, #B5FFE1 45%);
        min-height: 100vh;
    }
}

@media (max-width: 767.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(25deg, #FFFFFF 55%, #B5FFE1 55%);
        min-height: 100vh;
    }
}

@media (max-width: 575.98px){
    .home .welcome{
        background-color: #B5FFE1;
        background-image: -webkit-linear-gradient(60deg, #FFFFFF 15%, #B5FFE1 15%);
        min-height: 100vh;
    }
}

.home .welcome .message-primary{
    color: #073B4C;
    font-size: 4vw;
    text-align: center;
    display: block;
}

.home .welcome .message-secondary{
    color: #073B4C;
    font-size: 2.5vw;
    text-align: center;
    display: block;
}

@media (max-width: 575.98px){
    .home .welcome .message-primary{
        font-size: 8vw;
    }
    
    .home .welcome .message-secondary{
        font-size: 5vw;
    }
}

@media (max-width: 575.98px){
    .home .welcome-p1{
        margin-top: 10vh;
    }
}

.home .about {
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 80vh;
}

.home .about .about-heading-content {
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
    color: #073B4C;
}

.home .about .about-heading-bottom {
    margin: auto;
    height: 10px;
    width: 4.5vw;
    border-top: 4px solid grey;
}

.home .about .about-text {
    font-size: 1.4vw;
    color: darkgreen;
    text-align: justify;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
}

@media (max-width: 1199.98px) {
    .home .about .about-heading-content {
        font-size: 4.5vw;
    }
    .home .about .about-heading-bottom {
        width: 5vw;
    }
    .home .about .about-text {
        font-size: 1.6vw;
    }
}

@media (max-width: 991.98px) {
    .home .about .about-heading-content {
        font-size: 5vw;
    }
    .home .about .about-heading-bottom {
        width: 5.5vw;
    }
    .home .about .about-text {
        font-size: 1.7vw;
    }
}

@media (max-width: 767.98px) {
    .home .about .about-heading-content {
        font-size: 6vw;
    }
    .home .about .about-heading-bottom {
        width: 6.5vw;
    }
    .home .about .about-text {
        font-size: 2vw;
    }
}

@media (max-width: 575.98px) {
    .home .about {
        margin-top: 5vh;
        margin-bottom: 5vh;
        min-height: 90vh;
    }
    .home .about .about-heading {
        margin-bottom: 5px;
    }
    .home .about .about-heading-content {
        font-size: 8vw;
    }
    .home .about .about-heading-bottom {
        width: 8.5vw;
    }
    .home .about .about-text {
        font-size: 3.5vw;
        -moz-column-count: 1;
        -moz-column-gap: 20px;
        -webkit-column-count: 1;
        -webkit-column-gap: 20px;
    }
}

.home .brands {
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 50vh;
}

.home .brands .brand-heading-content {
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
    color: #073B4C;
}

.home .brands .brand-heading-bottom {
    margin: auto;
    height: 10px;
    width: 4.5vw;
    border-top: 4px solid grey;
}

@media (max-width: 1199.98px) {
    .home .brands .brand-heading-content {
        font-size: 4.5vw;
    }
    .home .brands .brand-heading-bottom {
        width: 5vw;
    }
}

@media (max-width: 991.98px) {
    .home .brands .brand-heading-content {
        font-size: 5vw;
    }
    .home .brands .brand-heading-bottom {
        width: 5.5vw;
    }
}

@media (max-width: 767.98px) {
    .home .brands .brand-heading-content {
        font-size: 6vw;
    }
    .home .brands .brand-heading-bottom {
        width: 6.5vw;
    }
}

@media (max-width: 575.98px) {
    .home .brands {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    .home .brands .brand-heading {
        margin-bottom: 5px;
    }
    .home .brands .brand-heading-content {
        font-size: 8vw;
    }
    .home .brands .brand-heading-bottom {
        width: 8.5vw;
    }
}

.home .brands .brand-sliding-container {
    margin: 40px 15px;
    padding: 3px;
    border: 2px solid #659157;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.brand-marquee{
    display: block;
    position: relative;
    width: 6500px;
    height: 160px;
    animation: scroll 60s linear infinite;
    padding: 3px;
}
  
.brand-marquee:hover {
    animation-play-state: paused;
}
  
.brand-img {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 5px 20px;
    float: left;
}

.brand-img:hover {
    transform: scale(1.2);
    opacity: .6;
    cursor: pointer;
}

@keyframes scroll{
    0% { left: 100vw; }
    100% { left: -6500px; }
}

.home .benefits {
    margin-top: 10vh;
    margin-bottom: 10vh;
    min-height: 80vh;
}

.home .benefits .benefits-heading {
    margin-bottom: 40px;
}

.home .benefits .benefits-heading-content {
    font-size: 4vw;
    text-align: center;
    font-weight: 600;
    color: #073B4C;
}

.home .benefits .benefits-heading-bottom {
    margin: auto;
    height: 10px;
    width: 4.5vw;
    border-top: 4px solid grey;
}

@media (max-width: 1199.98px) {
    .home .benefits .benefits-heading-content {
        font-size: 4.5vw;
    }
    .home .benefits .benefits-heading-bottom {
        width: 5vw;
    }
}

@media (max-width: 991.98px) {
    .home .benefits .benefits-heading-content {
        font-size: 5vw;
    }
    .home .benefits .benefits-heading-bottom {
        width: 5.5vw;
    }
}

@media (max-width: 767.98px) {
    .home .benefits .benefits-heading-content {
        font-size: 6vw;
    }
    .home .benefits .benefits-heading-bottom {
        width: 6.5vw;
    }
}

@media (max-width: 575.98px) {
    .home .benefits {
        margin-top: 5vh;
        margin-bottom: 5vh;
        min-height: 90vh;
    }
    .home .benefits .benefits-heading-content {
        font-size: 8vw;
    }
    .home .benefits .benefits-heading-bottom {
        width: 8.5vw;
    }
}

.home .benefits .benefits-content .card {
    width: 30%;
    margin: 10px 0; 
}

.home .benefits .benefits-content .card .card-image {
    height: 100px;
    margin: 20px auto 0;
}

.home .benefits .benefits-content .card .card-body .card-title {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    text-align: center;
}

.home .benefits .benefits-content .card .card-body .card-text {
    text-align: center;
}

@media (max-width: 991.98px) {
    .home .benefits .benefits-content .card {
        width: 45%;
    }
}

@media (max-width: 575.98px) {
    .home .benefits .benefits-content .card {
        width: 90%;
    }
}
