.navigation-component .navbar-brand{
    color: #073B4C;
    font-weight: bold;
}

.navigation-component .nav-link{
    color: #073B4C;
    font-weight: bold;
}

.navigation-component .nav-link:hover{
    background-color: #FFD166;
    color: #073B4C;
    border-radius: 5px;
}

@media (max-width: 575.98px) {
    .navigation-component .nav-link{
        padding-left: 10px;        
    }
}

.navigation-component .navbar {
    background: transparent;
}

.navigation-component .navbar.nav-scrolled {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background: white;
}

@media (max-width: 575.98px) {
    .navigation-component .navbar.toggler-active {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        background: white;
    }
}

.navigation-component .navbar-toggler{
    background-color: #073B4C;   
}

.navigation-component .navbar-toggler .fa-bars{
    color: white;
}
